@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>主页</title>
	<link rel="stylesheet" type="text/css" href="~/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="~/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="~/css/wu.css">
	<script type="text/javascript" src="~/js/jquery.min.js"></script>
	<script type="text/javascript" src="~/js/jquery.easyui.min.js"></script>
</head>
<body>
	<div class="easyui-layout" style="width:1200px;height:550px;">
		
		<div style="background-image:url(../images/111.jpg);height:65px; position:relative; z-index:0; overflow:hidden; border-bottom:10px #95b8e7 solid;" data-options="region:'north',border:false,split:true">
			<div class="wu-header-left">
				<h1>EasyUI Web Admin</h1>
			</div>
			<div class="wu-header-right">
				<p><strong class="easyui-tooltip" title="2条未读消息">admin</strong>，欢迎您！</p>
				<p><a href="#">网站首页</a>|<a href="#">支持论坛</a>|<a href="#">帮助中心</a>|<a href="#">安全退出</a></p>
			</div>
		</div>
		<div data-options="region:'east',split:true" title="East" style="width: 180px;">
			<ul class="easyui-tree">
				<li>
					<span>Folder</span>
					<ul>
						<li>
							<span>Sub Folder 1</span>
							<ul>
								<li><span>File 11</span></li>
								<li><span>File 12</span></li>
								<li><span>File 13</span></li>
							</ul>
						</li>
						<li><span>File 2</span></li>
						<li><span>File 3</span></li>
					</ul>
				</li>
				<li><span>File21</span></li>
			</ul>
		</div>
		<div data-options="region:'west',split:true" title="West" style="width:100px;">
			<div class="easyui-accordion" data-options="fit:true,border:false">
				<div title="Title1" style="padding:10px;">
					content1
				</div>
				<div title="Title2" data-options="selected:true" style="padding:10px;">
					content2
				</div>
				<div title="Title3" style="padding:10px">
					content3
				</div>
			</div>
		</div>
		<div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
			<div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
				<div title="About" data-options="href:'_content.html'" style="padding:10px"></div>
				<div title="DataGrid" style="padding:5px">
					<table class="easyui-datagrid"
							data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">
						<thead>
							<tr>
								<th data-options="field:'itemid'" width="80">Item ID</th>
								<th data-options="field:'productid'" width="100">Product ID</th>
								<th data-options="field:'listprice',align:'right'" width="80">List Price</th>
								<th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>
								<th data-options="field:'attr1'" width="150">Attribute</th>
								<th data-options="field:'status',align:'center'" width="50">Status</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>